.post-container {
  figure.highlight {
    margin: 1em 0;
    padding: 1em;
    pre {
      margin: 0;
    }
  }

  .post-meta {
    margin-bottom: 2em;
  }
  
  h2 {
    margin-top: 2em;
  }

  .post-video {
    max-width: 600px;
    width: 100%;
    display: block;
    margin: 1em auto;
  }
}
